<h2>Validation Results</h2>
{{#if hasGlobalErrors}}
<div class="alert alert-danger" role="alert">
    <span><strong>Error</strong> Swagger failed to parse</span>
{{#each globalErrors}}
    <p>{{message}}
{{/each}}
</div>
{{/if}}
<div class="panel panel-default">
    <div class="result-table container">
{{#each lines}}
        <div class="row {{errorClass}}">
            <div class="col-md-1" style="height:20px">
                <p class="text-right"><strong>{{lineNum}}</strong>
            </div>
            <div class="col-md-11"><p>{{string}}
                {{#each errors}}
                <p class="{{../errorClass}}">{{message}}
                {{/each}}
            </div>
        </div>
{{/each}}
    </div>
</div>
